.Header {
  display: flex;
  justify-content: space-around;
  background-color: #91E772;
  width: 100%;
  height: auto;
}

.positive-24 {
  color: green;
}

.negative-24 {
  color: red;
}

.detailed-percentage {
  display: flex;
  flex-direction: row;
}

.table-btns {
  background: none;
	color: inherit;
	border: 1px black solid;
  width: 100%;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
